{% extends "website/base.html" %}
{% load staticfiles %}

{% block page_content %}

<!--page Header-->
<section class="page-header parallaxie padding_top center-block header-opacity">
   <div class="container">
      <div class="row">
         <div class="col-sm-12">
            <div class="page-titles text-center">
               <h2 class="whitecolor font-light bottom30">About DataBreak</h2>
               <ul class="breadcrumb justify-content-center">
                 <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
                 <li class="breadcrumb-item active" aria-current="page">about</li>
               </ul>
            </div>
         </div>
      </div>
   </div>
</section>
<!--page Header ends-->


<!--Introduction-->
<section id="portfolio-xe" class="bglight padding" style="padding-top: 4.5rem;">
   <div class="container">
      <div class="row">
         <div class="col-md-12 col-sm-12 darkcolor">
            <div class="heading-title wow fadeInLeft" data-wow-delay="100ms">
               <span><h2 class="bottom20">Here is...</h2></span>
            </div>
            <ul class="wow fadeInUp" data-wow-delay="150ms" style="list-style: disc;">
               <li>'데이터뽀개기'는 데이터 관련 현장에서 일하거나, 데이터 분야로 이직/취업 하려는 사람들의 Practical Data Playground.
                  오프라인 밋업, 이벤트, 스터디 등에서 데이터를 이야기하고 연구할 수 있는 네트워킹 장소입니다</li>
               <li>데이터 기반의 업무를(분석, 엔지니어링) 입문하고 성장할 수 있는 방향을 모색합니다</li>
               <li>데이터 사이언스 관련 주제 또는 도메인(ex. 금융, 게임) 별 소모임을 운영하고 있습니다</li>
               <li>주요 키워드: Practical Data Science, Offline Data Meetup and Event, BootCamp (Data Driven)</li>
            </ul>
         </div>
      </div>

      <div class="top30 wow fadeInUp" data-wow-delay="150ms">
          <a href="{% url 'activity' %}"
             class="button btnsecondary pagescroll">Our Activities
          </a>
      </div>

      <div class="row top50">
         <div class="col-md-12 col-sm-12 darkcolor">
            <div class="heading-title wow fadeInLeft" data-wow-delay="100ms">
               <span><h2 class="bottom20">History</h2></span>
            </div>
            <ul class="wow fadeInUp" data-wow-delay="150ms" style="list-style: disc;">
               <li>2019.02 --- '데이터뽀개기(DataBreak)'
                   <a href="{% url 'people' %}#people" target="_blank" style="color: #007bff;">1기 운영진</a> 전체 모임 개최
               </li>
               <li>2019.01 --- '캐글뽀개기(KaggleBreak)'에서 '데이터뽀개기(DataBreak)'로 명칭과 방향성 변경</li>
               <li>2018.10 --- 데이터 관련 워크샵
                   <a href="{% url 'databreak2018' %}" target="_blank" style="color: #007bff;">'DataBreak2018: Hello Kaggler'</a> 주최
               </li>
               <li>2018.09 --- 비영리단체 '캐글뽀개기' 등록</li>
               <li>2017.08 --- 스터디 그룹 연합 모임 '피자뽀개기' 행사 주최</li>
               <li>2015.02 --- 캐글뽀개기 그룹 창설(페이스북 그룹 기반의 스터디 모임으로 시작)</li>
            </ul>
         </div>
      </div>

      <div class="top30 wow fadeInUp" data-wow-delay="150ms">
          <a target="_blank" href={{ rep_contact.facebook }}
             class="button btnsecondary pagescroll">Our Facebook
          </a>
      </div>
   </div>
</section>
<!--Introduction ends -->

 <!-- What we aim -->
 <section id="aim" class="padding">
    <div class="container">
       <div class="row">
          <div class="col-md-12 col-sm-12 text-center wow fadeInUp" data-wow-delay="150ms">
             <div class="heading-title">
                <span>우리는 이런 것들을 지향합니다</span>
                <h2 class="darkcolor heading_space">Code of Conduct</h2>
             </div>
          </div>
       </div>
       <div class="row" id="app-feature">
          <div class="col-lg-4 col-md-4 col-sm-12">
             <div class="content-left clearfix">
             {% for coc_left in coc_lefts %}
                <div class="feature-item left top30 bottom30 wow fadeInUp" data-wow-delay="150ms">
                   <span class="icon"><i class="fa {{ coc_left.icon }}"></i></span>
                   <div class="text">
                      <h4>{{ coc_left.title }}</h4>
                      <p>{{ coc_left.content }}</p>
                   </div>
                </div>
             {% endfor %}
             </div>
          </div>

          <div class="col-lg-4 col-md-4 col-sm-12">
             <div class="image feature-item text-center wow fadeIn" data-wow-delay="350ms">
                <img src="{% static 'images/kagglebreak/study2_vertical.jpg' %}" alt="">
             </div>
          </div>

          <div class="col-lg-4 col-md-4 col-sm-12">
             <div class="content-right clearfix">
             {% for coc_right in coc_rights %}
                <div class="feature-item right top30 bottom30 wow fadeInUp" data-wow-delay="150ms">
                   <span class="icon"><i class="fa {{ coc_right.icon }}"></i></span>
                   <div class="text">
                      <h4>{{ coc_right.title }}</h4>
                      <p>{{ coc_right.content }}</p>
                   </div>
                </div>
             {% endfor %}
             </div>
          </div>
       </div>
    </div>
 </section>
 <!--About ends-->

 <!-- How to join study group -->
 <section class="padding gradient_bg_default">
    <div class="container">
       <div class="row">
          <div class="col-md-12 col-sm-12 text-center">
             <div class="heading-title wow fadeInUp" data-wow-delay="150ms">
                <h2 class="whitecolor">Community <span class="fontregular">Rules</span> </h2>
             </div>
          </div>
       </div>
       <div class="row">
          <ul class="process-wrapp">
             <li class="whitecolor wow fadeIn rule" data-wow-delay="150ms">
                <span class="pro-step bottom20">01</span>
                <p class="fontbold bottom25">예의와 친절</p>
                <p class="darkcolor">스터디를 참여하는 모든 참여자들은
                   다른 참여자들에게 기본적인 예의와 친절을 지키고 모욕하거나 폄하하지 않는다.</p>
             </li>
             <li class="whitecolor wow fadeIn rule" data-wow-delay="250ms">
                <span class="pro-step bottom20">02</span>
                <p class="fontbold bottom25">캐글규칙 준수</p>
                <p class="darkcolor">캐글(Kaggle) 대회의 참여하는 그룹은
                   사이트의 규칙을 준수하며 캐글 플랫폼(커널, 토론 등)에 기여할 수 있도록 노력한다.</p>
             </li>
             <li class="whitecolor wow fadeIn rule" data-wow-delay="350ms">
                <span class="pro-step bottom20">03</span>
                <p class="fontbold bottom25">발제 형식</p>
                <p class="darkcolor">스터디 첫 날 커리큘럼을 소개하며 발제자를 구한다.
                   참가하는 스터디원들의 발제 형태로 진행한다.
                   (1개 파트 내에서 최소 1번의 발표를 하는 것이 예의, 매너)</p>
             </li>
             <li class="whitecolor wow fadeIn rule" data-wow-delay="400ms">
                <span class="pro-step bottom20">04</span>
                <p class="fontbold bottom25">도덕적 신념</p>
                <p class="darkcolor">이 모임을 빌미로 공짜로 일을 시키지 않는다.</p>
                <p class="darkcolor">이 모임에서 성적/폭력적 이슈를 발생시키지 않는다.</p>
             </li>
             <li class="whitecolor wow fadeIn rule" data-wow-delay="450ms">
                <span class="pro-step bottom20">05</span>
                <p class="fontbold bottom25">스터디 개설은 누구나 가능</p>
                <p class="darkcolor">데이터뽀개기 내 스터디는 오픈 모임을 지향하며
                   이러한 형태로 운영할 경우 누구나 스터디를 개설할 수 있다.</p>
                <p class="darkcolor">* 오픈 모임: 모임일시/장소, 참여방법, 다루는 내용, 참여 사진을
                   그룹 내에서 공지 및 공유하고 운영되는 스터디</p>
             </li>
          </ul>
       </div>
    </div>
 </section>
 <!--study Process ends-->




{% endblock %}