{% extends "website/base.html" %}
{% load staticfiles %}

{% block page_content %}

<!--page Header-->
<section class="page-header parallaxie padding_top center-block header-opacity"
         style="padding-top: 4.5rem;
                background: url({% static 'images/kagglebreak/meetup_each.jpg' %}) no-repeat;
                background-size: cover;">
   <div class="container">
      <div class="row">
         <div class="col-sm-12">
            <div class="page-titles text-center">
               <h2 class="whitecolor font-light bottom30">Meetup</h2>
               <ul class="breadcrumb justify-content-center">
                 <li class="breadcrumb-item"><a href="{% url 'meetup' %}">Home</a></li>
                 <li class="breadcrumb-item active" aria-current="page">Meetup</li>
               </ul>
            </div>
         </div>
      </div>
   </div>
</section>
<!--page Header ends-->

 <!--events section-->
 <section id="events" class="half-section">
    <div class="container-fluid">
       <div class="row">
          <div class="col-md-6 nopadding">
             <div class="split-box text-center center-block container-padding equalheight">
                <div class="heading-title padding">
                <span style="font-family: 'Do Hyeon'">오후 7시의 놀이터. 월 1회 데이터 기반 meetup이 여러분을 찾아갑니다!</span>
                <h2 class="darkcolor bottom20 wow fadeIn" data-wow-delay="150ms">
                    Data Playground @ 7</h2>
                <p class="heading_space wow fadeIn" data-wow-delay="250ms">
                    자신들이 겪었던 경험에 대해서 Meetup 참석자들과 진솔한 내용을 공유하여
                    데이터 기반의 업무를(분석, 엔지니어링) 입문하고 성장할 수 있는 방향을 나누는 자리 입니다.
                </p>
                <a target="_blank" href="https://github.com/kagglebreak/databreak"
                   class="button btnprimary wow fadeInUp" data-wow-delay="300ms">
                    발표자료 모음
                </a>
             </div>
             </div>
          </div>
          <div class="col-md-6 nopadding">
             <div class="image hover-effect img-container">
                <img alt="" src="{% static 'images/meetup/kaggledays_seoul_meetup14.jpg' %}" class="equalheight">
             </div>
          </div>
       </div>
    </div>
 </section>
 <!--events section ends-->

<section class="padding padding_short bglight">
 <div class="container">
    <div class="row">
       <div class="col-md-8 offset-md-2 col-sm-12 text-center">
          <div class="heading-title wow fadeInUp" data-wow-delay="150ms">
            <h1 class="darkcolor bottom30">Call for speech</h1>
            <a target="_blank" href={{ apply_speech.url }}
               class="button btnsecondary wow fadeInUp bottom30" data-wow-delay="150ms">
                {{ apply_speech.url_desc }}
            </a>
          </div>
       </div>
    </div>
    <div class="row">
       <div class="col-md-12 col-sm-12 darkcolor wow fadeInUp" data-wow-delay="150ms">
          <p style="font-size: 1.1rem;">월 1회 오후 7시에 진행되는 'Data Playground at 7'은 데이터 기반의 업무 (기획, 분석, 엔지니어링) 분야에 종사하거나 공부하시는 많은 분들과 함께 만들어 갑니다.
             발표를 직접 신청해 주시거나 적절한 분들을 추천해 주세요. 진솔한 공유와 네트워킹을 통해 모두 함께 성장해요!</p>
          <h4 class="title-h4 wow fadeInUp" data-wow-delay="150ms">행사 설명</h4>
           <ul class="rounded mylist2 wow fadeInUp" data-wow-delay="150ms">
               <li>월 1회, <span class="blue">오후 7시에 시작</span>하여 네트워킹 시간 포함 10시에 종료합니다</li>
                <li>데이터를 중요하게 생각하는 각기 다른 회사들과 월 별로 collaboration 합니다</li>
                <li>매월 특정 데이터 형태 또는 현업 분야를 주제로 발표를 진행합니다. 주제는 후원사 또는 특정 사안에 따라 결정됩니다</li>
               <li><span class="blue">발표는 sponsor spot과 guest spot으로 구성</span>됩니다. sponsor spot은 해당 월의 후원사에서 데이터 관련 주제로 발표합니다</li>
               <li>guest spot은 50min. 발표 1인 또는 25min. 발표 2인으로 구성됩니다</li>
           </ul>
          <h4 class="title-h4 wow fadeInUp" data-wow-delay="200ms">Guest spot 발표를 해 주신 분들께 드리는 선물</h4>
           <ul class="rounded mylist2 wow fadeInUp" data-wow-delay="200ms">
                <li>소정의 발표료를 드립니다!</li>
                <li>발표해 주신 해당월의 밋업 동반 1인 초대권</li>
                <li>DataBreak 워크샵 티켓: 매년 가을에 진행되는 약 300명 규모의 종일 워크샵의 선착순 판매 티켓을 무료로 제공합니다</li>
                <li>DataBreak closed 연말모임 초대: 그 해에 데이터뽀개기를 도와주신 많은 분들과 밋업&가을 워크샵의 발표자 분들,
                    운영진 등이 모여 진행되는 즐거운 연말 네트워킹 파티입니다. (파티룸 또는 카페 통대관)</li>
           </ul>
       </div>
    </div>
 </div>
</section>

<!-- Competitions -->
<section id="meetup_list" class="padding" style="padding-bottom: 1rem;">
 <div class="container">
    <div class="row">
       <div class="col-md-8 offset-md-2 col-sm-12 text-center">
          <div class="heading-title wow fadeInUp" data-wow-delay="150ms">
             <span>이미 진행한, 앞으로 진행될 meetup 목록입니다</span>
              발표자료 다운로드, 스케쥴 확인 등은 '상세보기' 버튼을 눌러주세요
             <h2 class="darkcolor bottom30">Meetup list</h2>
          </div>
       </div>
    </div>
    <div class="row">
       <div class="col-md-12 col-sm-12">
           {% for meetup in meetups %}
           <h3 class="bottom10 top30 darkcolor wow fadeInLeft" data-wow-delay="100ms">
               {{ meetup.e_title_kor }}
           </h3>
           <div class="bottom15 text-right wow fadeInRight" data-wow-delay="150ms">
               <a target="_blank" href="{% url 'each_meetup' e_id=meetup.id %}"
                   class="button btnprimary-alt wow fadeInUp" data-wow-delay="150ms"
                   style="padding: 0.7rem 1.5rem;">상세보기
               </a>
           </div>
           <table id="competition_table" class="bottom30 wow fadeInUp" data-wow-delay="150ms">
             <tr>
                <th style="width:30%;">Date&Time</th>
                <th style="width:40%;">Venue</th>
                <th style="width:30%;">Keyword</th>
             </tr>
             <tr>
                <td>{{ meetup.s_datetime }}</td>
                <td>{{ meetup.location }}</td>
                <td style="font-weight: bold;">{{ meetup.keyword.k.keyword }}</td>
             </tr>
           </table>
           <hr />
           {% endfor %}
       </div>
    </div>
 </div>
</section>
<!-- Competitions ends-->


{% endblock %}