[Unit]
Description=uWSGI service
After=syslog.target

[Service]
ExecStart=/home/lynn/.virtualenvs/django/bin/uwsgi -i /home/lynn/workspace/django/kagglebreak/.config/uwsgi/kagglebreak.ini

Restart=always
KillSignal=SIGQUIT
Type=notify
StandardError=syslog
NotifyAccess=all

[Install]
WantedBy=multi-user.target
